
.normal {
  font-family: Georgia, sans-serif;
  margin-top: 4em;
  text-align: center;
}

.body {
  height: calc(100vh - 68px);
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.12);
  padding: 0 4rem;
}

.canvas {
  margin-right: 6rem;
}

.canvas {
  box-shadow: 1px 4px 20px 0px rgba(0, 0, 0, 0.38);
}

.predictionGroup {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.predictionGroup > div {
  width: 100%;
  margin: 1rem;

  height: 12rem;
  border-radius: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.predictionGroup > div img {
  width: 120px;
  height: 120px;
  border-radius: 10px;
  box-shadow: 1px 4px 20px 0px rgba(0, 0, 0, 0.38);
  transition: all .3s;
  transform-origin: center;
}
.predictionGroup > div img:hover {
  transform: scale(1.5);
  
}

.itemGroup {
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 1rem;
  z-index: 100;
  font-size: 1.5rem;
}
.itemGroup i {
  transition: all .1s ease-in-out;
  margin-right: 1.5rem;
  cursor: pointer;
}
.itemGroup i:hover {
  transform: scale(1.25);
  transform-origin: center;
}