
.normal {
  font-family: Georgia, sans-serif;
  text-align: left;
}

.title {
  font-size: 2rem;
  font-weight: normal;
  letter-spacing: -1px;
  background: #f44336c2;
  padding: 1rem 2rem;
  color: white;
  margin: 0;


}
